<div class="wrapper">
  <div class="one">
    <div class="row" style="margin: 10px;">
      <div class="column" style="border-radius: 20px;background-color: green;
          margin-right: 10px;">
        <div class="text-center">
          <h4 style="color:aliceblue;font-size: 2rem;margin-top:
              5px;margin-top: 10px;">
            <b>ERROR</b>
          </h4>
          <h1 style="color:aliceblue;letter-spacing: 10px;"><b>12.25</b></h1>
        </div>
      </div>
      <div class="column" style="border-radius: 5px;background-color: black;
          margin-right: 10px;">
        <div class="text-center">
          <h4 style="color:aliceblue; font-size: 2rem;margin-top:
              5px;margin-top: 10px;"><b>GATE
              WIDTH</b></h4>

          <input type="text" class="text-value" placeholder="1234">


        </div>
      </div>
      <div class="column" style="border-radius: 5px;background-color: black;
          margin-right: 10px;">
        <div class="text-center">
          <h4 style="color:aliceblue; font-size: 2rem;margin-top:
              5px;margin-top: 10px;"><b>SET VALUE</b></h4>
          <input type="text" class="text-value" placeholder="1234">
        </div>
      </div>
      <div class="column" style="border-radius: 5px;background-color: black;
          margin-right: 10px;width: 20%;">
        <div class="text-center">
          <h4 style="color:aliceblue; font-size: 2rem;margin-top:
              5px;margin-top: 10px;"><b>VALID BASELINE</b></h4>
          <input type="text" class="text-value" placeholder="1234">
        </div>
      </div>
      <div class="column" style="border-radius: 5px;background-color: black;
          margin-right: 10px;width: 14%;">
        <div class="text-center">
          <img
            src="{{ showVar ? '/assets/ICONS/DI0059-DI0059-RESCAN_OFF_SMALL.bmp' :'/assets/ICONS/DI0060-DI0060-RESCAN_ON_SMALL.bmp'}}"
            (click)="rescanButton()" style="height: 80px;margin-top: 30px;cursor: pointer;" alt="No image found." />
        </div>
      </div>

      <div class="column" style="border-radius: 5px;background-color: black;
          margin-right: 10px;width: 14%;">
        <div class="text-center">
          <img src="/assets/ICONS/DI0016-DI0016-ALTEEM LOGO_ BIG.bmp" class="mt-2" style="height: 100px;"
            alt="No image found.">
        </div>
      </div>
    </div>
  </div>
  <div class="two" style="background-color: #494847">
    <!-- <table style="color: white">
      <tr>
        <td>Topic: </td>
        <td><input class="form-control" type="text" /></td>
        <td><button type="button" class="btn btn-primary">Subscribe Topic</button></td>
      </tr>
      <tr>
        <td>Message: </td>
        <td><input class="form-control" [(ngModel)]="msg" type="text" /></td>
        <td><button type="button" class="btn btn-primary" (click)="sendmsg()">Send</button></td>
      </tr>
      <tr>
        <td></td>
        <td>&nbsp;&nbsp;<button class="btn btn-primary" type="button" (click)="clear()">Clear Log</button></td>
        <td></td>
      </tr>
    </table> -->
    <br /><br />
    <div>
      <h3 style="color: white;float: right;margin-right: 100px;">{{connect}}</h3>

      <canvas style="color: white;" id="myCanvas" height="86">{{MyChart}} </canvas>

    </div>
    <div #msglog>
    </div>




  </div>
  <div class="three">
    <div class="row" style="margin: 10px;">
      <div style="width: 13%">
        <div class="text-center">
          <div>
            <img src="/assets/ICONS/DI0105-MARK_FIRST_MASTER.bmp" style="margin: 20px 0 0 0" alt="No image found"><BR>
            <label><B style="color: aliceblue;font-size: 1.5rem;">MARK FIRST</B></label>
          </div>
        </div>
      </div>
      <div style="border-radius: 5px;background-color: black;
          margin-right: 10px;width: 13%">
        <div class="text-center">
          <div>
            <img src="/assets/ICONS/DI0109-00_M1_GRAPH_SILVER_0.bmp" style="margin:20px 0 10px 0;height: 30px;"
              alt="No image found"><BR>
            <B style="color: aliceblue;font-size: 1.5rem;">MARK TYPE</B>
          </div>
        </div>
      </div>
      <div style="background-color: black;width: 13%">
        <div class="text-center">
          <div>

            <h2 style="margin: 16px 0 0 0"><b style="background-color:
                  cornflowerblue;color: aliceblue;">1234</b></h2>

            <h4 style="color:aliceblue; font-size: 1.5rem;margin-top:
                5px;margin-top: 10px;"><b>VALID MARKS</b></h4>

          </div>
        </div>
      </div>
      <div style="border-radius: 5px;background-color: black; margin-right:
          10px;width: 20%;width: 13%">
        <div class="text-center">
          <div>
            <img src="/assets/ICONS/DI0030-ALARM_ON_50X50.bmp" style="height:
                70px;margin: 20px;" alt="No image found"><BR>
          </div>
        </div>
      </div>
      <div style="background-color: black;width: 13%">
        <div class="text-center">
          <div>

            <h2 style="margin: 16px 0 0 0"><b style="background-color:
                  cornflowerblue;color: aliceblue;">1234</b></h2>

            <h4 style="color:aliceblue; font-size: 1.5rem;margin-top:
                5px;margin-top: 10px;"><b>BASE LINE</b></h4>

          </div>
        </div>
      </div>
      <div style="border-radius: 5px;background-color: black;
          margin-right: 10px;width: 26%;">
        <div class="text-center">

        </div>
      </div>





    </div>
  </div>
  <div class="four">
    <div class="row" style="margin: 10px">
      <div class="column" style="width: 10%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0014-Graph_Manual_On.bmp" style="height:
                73px;" alt="No image found"><BR>

          </div>
        </div>
      </div>

      <div class="column" style="width: 20%">
        <div class="text-center">
          <div>
            <img src="/assets/ICONS/DI0024-GRAPH_LEFT_DOUBLE_ARROW_OFF.bmp" style="height: 77px;"
              alt="No image found"><BR>
          </div>
        </div>
      </div>

      <div class="column" style="width: 10%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0022-GRAPH_LEFT_ARROW_OFF.bmp" style="height: 73px;" alt="No image found"><BR>

          </div>
        </div>
      </div>

      <div class="column" style="width: 10%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0018-SET_ON.bmp" style="height: 73px;" alt="No
                image found"><BR>

          </div>
        </div>
      </div>

      <div class="column" style="width: 10%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0028-GRAPH_RIGHT_ARROW_OFF.bmp" style="height: 73px;" alt="No image found"><BR>

          </div>
        </div>
      </div>

      <div class="column" style="width: 20%;">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0026-GRAPH_RIGHT_DOUBLE_ARROW_OFF.bmp" style="height: 73px;"
              alt="No image found"><BR>

          </div>
        </div>
      </div>

      <div class="column" style="width: 5%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0003-Home_On.bmp" style="height: 73px;" alt="No
                image found"><BR>

          </div>
        </div>
      </div>

      <div class="column" style="width: 5%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0005-Graph_On.bmp" style="height: 73px;" alt="No
                image found"><BR>

          </div>
        </div>
      </div>
      <div class="column" style="width: 5%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0007-SETTING_ON.bmp" style="height:
                73px;" alt="No image found"><BR>

          </div>
        </div>
      </div>
      <div class="column" style="width: 5%">
        <div class="text-center">
          <div>


            <img src="/assets/ICONS/DI0009-Analysis_On.bmp" style="height:
                73px;" alt="No image found"><BR>

          </div>
        </div>
      </div>






















    </div>
  </div>

</div>
<div>
  <router-outlet></router-outlet>
</div>